@import "tailwindcss";

@layer base {
    @font-face {
        font-family: "DMSerifDisplay";
        src: url("../public/fonts/DMSerifDisplay-Regular.ttf") format("truetype");
    }

    @font-face {
        font-family: "Inter SemiBold";
        src: url("../public/fonts/Inter-SemiBold.otf") format("opentype");
    }

    @font-face {
        font-family: "Inter Bold";
        src: url("../public/fonts/Inter-Bold.otf") format("opentype");
    }

    @font-face {
        font-family: "Jost";
        src: url("../public/fonts/Jost-Regular.ttf") format("truetype");
    }

    @font-face {
        font-family: "Jost Medium";
        src: url("../public/fonts/Jost-Medium.ttf") format("truetype");
    }

    @font-face {
        font-family: "Jost SemiBold";
        src: url("../public/fonts/Jost-SemiBold.ttf") format("truetype");
    }

    @font-face {
        font-family: "Jost Bold";
        src: url("../public/fonts/Jost-Bold.ttf") format("truetype");
    }
}

@theme {
    --font-DMSerifDisplay: "DMSerifDisplay";
    --font-inter-semibold: "Inter SemiBold";
    --font-inter-bold: "Inter Bold";
    --font-jost-regular: "Jost Regular";
    --font-jost-medium: "Jost Medium";
    --font-jost-semibold: "Jost SemiBold";
    --font-jost-bold: "Jost Bold";

    --color-primary: #D8A876;
    --color-secondary: #C76904;
    --color-title: #292F36;
    --color-desc: #4D5053;

    --text-txt: 22px;

    --leading-desc: 150%
}

@utility container {
    margin-right: auto;
    margin-left: auto;
    padding: 2rem;
    width: 83.333300%
}